.logo {
    font-family: "Raleway", sans-serif;
    @include font(null, 26px, 1.19, null);
    text-decoration: var(--text-decoration);
    // font-size: 26px;
    // line-height: 1.19;
    color: var(--second-text-color);
    @extend %align-element;
}

.logo__web {
    font-weight: 700;
    margin: 0px 93px 0px 0px;
}

.footer-logo {
    display: flex;
    margin-right: 0px;
    margin-bottom: 20px;
}

.logo--dark {
    color: #000000;
}

.logo--light {
    color: var(--background-color);
}