.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    display: block;
    width: calc((100% - 60px) / 3);
    position: relative;
    &:hover .portfolio__description-text {
        transform: translateY(0);
        }
}

.portfolio__item-link {
    display: block;
    text-decoration: var(--text-decoration);
    transition: box-shadow 250ms var(--timing-function);
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.portfolio__description-text {
    @include font(400, 18px, 1.56, 0.03em);
    position: absolute;
    // font-size: 18px;
    // line-height: 1.56;
    // letter-spacing: 0.03em;
    color: var(--background-color);
    background: rgba(33, 150, 243, 0.9);
    position: absolute;
    // font-weight: 400;
    height: calc(100% + 1px);
    width: inherit;
    top: 0;
    left: 0;
    padding: 63px 24px;
    display: flex;
    justify-content: center;
    overflow: auto;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    transition-property: transform;
}

.portfolio__description {
    position: relative;
    overflow: hidden;
}

.portfolio__text {
    @include border(1px, null);
    padding: 20px 24px;
    // border: 1px;
    border-style: solid;
    border-top-width: 0;
    border-top-style: hidden;
    border-color: var(--border-color);
}

.portfolio__text-title {
    @include font(null, 18px, 2, 0.06em);
    // font-size: 18px;
    // line-height: 2;
    // letter-spacing: 0.06em;
    color: var(--font-main-color);
    margin-bottom: 4px;
}

.portfolio__text-name {
    @include font(null, 16px, 1.88, null);
    font-size: 16px;
    line-height: 1.88;
    color: var(--owner-text-color);
}