.footer {
    background: var(--background-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer {
    display: block;
    margin-right: 0px;
    margin-bottom: 20px;
}

.footer-title {
    @include font(700, 14px, 1.14, 0.03em);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color);
    margin-bottom: 20px;
    justify-content: center;
}

.footer-list {
    display: flex;
    gap: 10px;
}