:root {
    --background-color: #ffffff;
    --second-text-color: #2196f3;
    --hover-second-color: #188ce8;
    --owner-text-color: #757575;
    --font-main-color: #212121;
    --buttons-color: #f5f4fa;
    --background-footer-color: #2f303a;
    --main-font: "Roboto", sans-serif;
    --border-color: #eeeeee;
    --icon-color: #afb1b8;
    --footer-text-color: rgba(255, 255, 255, -0.6);
    --text-decoration: none;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}